@use "global" as *;

.p-sidebar-category__title{
  position: relative;
}

.p-sidebar-category__title::before{
  position: absolute;
  content: "";
  background-position:center;
  background-repeat: no-repeat;
  background-size: contain;
  width: rem(24);
  height: rem(24);
  aspect-ratio: 1/1;
  top: 0;
  left: 0;
  background-image: url(".././images/common/sidebar-category-icon.png");
}

.p-sidebar-category__wrap{
  display: grid;
  gap: rem(12);
  margin-top: rem(16);
  margin-left: rem(20);
  @include mq("md") {
    margin-top: rem(20);
  }
}

.p-sidebar-category__text{
  display: grid;
  gap: rem(12);
}

.p-sidebar-category__text > a{
  position: relative;
  padding-left: rem(12);
}

.p-sidebar-category__text a::before{
  position: absolute;
  content: "";
  background-position:center;
  background-repeat: no-repeat;
  background-size: contain;
  width: rem(6);
  height: rem(12);
  aspect-ratio: 1/2;
  top: 50%;
  left: 0;
  transform: translatey(-50%);
  background-image: url(".././images/sidebar/sidebar-category-arrow.png");

}