@use "global" as *;

.p-mv-swiper {
  position: relative;
  border-radius: 8px;
  height: 100%;
  @include mq("md") {
    border-radius: 20px;
  }
}

.p-mv-swiper::after {
  background: rgba(0, 0, 0, 0.1);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}


.p-mv-swiper__img,
.p-mv-swiper__img img{
  height: 100%;
}

.swiper-button-prev,
.swiper-button-next {
  height: rem(32);
  width: rem(32);
  @include mq("md") {
    height: rem(48);
    width: rem(48);
  }
}

.swiper-button-prev{
  left: rem(-16);
  @include mq("md") {
  left: rem(-24);
  }
}

.swiper-button-next {
right: rem(-16);
  @include mq("md") {
  right: rem(-24);
  }
}

.swiper-button-prev:after,
.swiper-button-next:after {
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  width: rem(32);
  height: rem(32);
  margin: auto;
  @include mq("md") {
    width: rem(48);
    height: rem(48);
  }
}

.swiper-button-prev:after {
  background-image: url(".././images/front-page/swiper-button-prev.png");
}

.swiper-button-next:after {
  background-image: url(".././images/front-page/swiper-button-next.png");
}


.p-mv-swiper-pagination{
  display: flex;
  flex-direction: column;
}

.swiper-pagination-bullets.swiper-pagination-horizontal{
  bottom: initial;
  bottom: rem(18);  
  left: rem(-13);
  @include mq("md") {
    bottom: 0;
    left: rem(-18);
  }
}

.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
  width: rem(6);
  height: rem(6);
  margin-top: rem(8);
  @include mq("md") {
    width: rem(8);
    height: rem(8);
    margin-top: rem(10);
  }
}