@use "global" as *;

.p-staff-box{
  display: grid;
  gap: rem(16);
  place-items: center;
  @include mq("md") {
    width:100%;
  }
}

.p-staff-box__img{
  width: 100%;
  max-width: rem(335);
  aspect-ratio: 1/1;
  border-radius: 20px;
  @include mq("md") {
    max-width: rem(280);
  }
}

.p-staff-box__img img{
  height: 100%;
}

.p-staff-box__name-wrap{
  display: flex;
  gap: rem(12);
  justify-content: center;
  align-items: center;
}

.p-staff-box__occupation{
  font-size: rem(12);
  letter-spacing: 0.96px;
}

.p-staff-box__name{
  font-size: rem(18);
  font-weight: $bold;
  letter-spacing: 1.44px;
}

.p-staff-box__info{
  display: flex;
  flex-wrap: wrap;
}

.p-staff-box__info dt{
  font-size: rem(14);
  background: $sub-color2;
  padding: rem(20);
  width: 41.5%;
  border-bottom: 1px solid $white;
  @include mq("md") {
    padding: rem(17) rem(20);
    width: 50%;
    font-size:min(vw($full,14),rem(14));
  }
}

.p-staff-box__info dd{
  font-size: rem(14);
  width: 58.5%;
  padding: rem(10);
  @include mq("md") {
    padding: rem(17) rem(10);
    width: 50%;
    font-size:min(vw($full,14),rem(14));
  }
}

.has-margin-top {
  margin-top: 40px;
  @include mq("md") {
    margin-top: rem(60);
  }
}
