@use "global" as *;

.p-footer {
  position: relative;
  background-color: $sub-color2;
  padding-top: rem(13);
  @include mq("md") {
    padding-top: rem(56);
  }
}

.p-footer::before{
  position: absolute;
  content: "";
  background-position:top left -62px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(".././images/footer/footer-decoration.png");
  width: 100%;
  height: rem(32);
  top: rem(-32);
  left: 0;
  @include mq("md") {
    background-position:top center;
  }
}

.p-footer__inner {
  max-width: rem(500);
  text-align: center;
  padding-left: rem(10);
  padding-right: rem(10);
  @include mq("md") {
    padding-top: rem(56);
  }
}

.p-footer__box{
  background-color: $white;
  border-radius: 8px;
  padding: rem(32) 0 rem(20);
  @include mq("md") {
    display: flex;
    align-items: center;
    gap: rem(40);
    padding: rem(40) rem(49);
    border-radius: 20px;
  }
}

.p-footer__logo {
  width: 100%;
  max-width: rem(309);
  aspect-ratio: 309/33;
  margin-left: auto;
  margin-right: auto;
  @include mq(md) {
    max-width: rem(404);
    aspect-ratio: 404/41;
  }
}

.p-footer__address{
  display: flex;
  gap: rem(14);
  align-items: center;
  justify-content: center;
  font-size: rem(14);
  margin-top: rem(21);
  @include mq("md") {
    margin-top: rem(7);
  }
}

.p-footer__tel {
  position: relative;
  display: inline-block;
  color: $main-color;
  text-align: center;
  font-size: rem(32);
  font-weight: $bold;
  letter-spacing: -0.64px;
  padding-left: rem(32);
}

.p-footer__tel::before {
  position: absolute;
  content: "";
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(".././images/common/nav-tel.png");
  width: 100%;
  max-width: rem(28);
  height: rem(28);
  aspect-ratio: 1/1;
  top: 50%;
  transform: translatey(-50%);
  left: 0;
}

.p-footer__hour{
  color: $main-color;
  text-align: center;
  font-size: rem(12);
}

.p-footer__btns{
  display: flex;
  gap: rem(15);
  justify-content: center;
  margin-top: rem(20);
  @include mq("md") {
    gap: rem(20);
  }
}

.p-footer__btn:nth-child(1) img{
  width: 100%;
  max-width: rem(35);
  height: rem(20);
  aspect-ratio: 35 / 20;
  @include mq("md") {
    max-width: rem(30);
    aspect-ratio: 30 / 20;
  }
}

.p-footer__btn:nth-child(2) img{
  width: 100%;
  max-width: rem(17);
  height: rem(17);
  aspect-ratio: 1 / 1;
  @include mq("md") {
    max-width: rem(24);
    height: rem(24);
  }
}

.p-footer__time{
  width: 100%;
  max-width: rem(335);
  aspect-ratio: 335/117;
  margin-top: rem(20);
  margin-inline: auto;
  @include mq("md") {
    max-width: rem(477);
    aspect-ratio: 477/166;
    margin-top: rem(21);
  }
}

.p-footer__map{
  width: rem(315);
  height: rem(315);
  margin-inline: auto;
  margin-top: rem(20);
  aspect-ratio: 1/1;
  @include mq("md") {
    width: 100%;
    max-width: rem(385);
    height: rem(385);
    margin-top: 0;
  }
}

.p-footer__map iframe{
  width: 100%;
  height: 100%;
}

.p-footer__items{
  display: flex;
  flex-direction: column;
  gap: rem(40);
  margin-top: rem(59);
  text-align: left;
  padding: 0 rem(10) rem(60);
  @include mq("md") {
    flex-direction: row;
    justify-content: center;
    margin-top: rem(43);
    padding: 0 0 rem(60);
  }
}

.p-footer__item{
  display: flex;
  flex-direction: column;
  gap: 18px;
}


.p-footer__item a{
  font-weight: $bold;
  text-transform: uppercase;
}

.p-footer__subItems{
  display: grid;
  gap: rem(18);
}

.p-footer__subItems.p-footer__subItems--grid{
  grid-template-rows: repeat(4, auto);
  grid-template-columns: auto auto;
}

.p-footer__itemBox{
  display: flex;
  gap: rem(20);
}

.p-footer__subItem{
  position: relative;
  padding-left: rem(12);
}

.p-footer__subItem::before{
  position: absolute;
  content: "";
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  top: 50%;
  transform: translateY(-50%);
  background-image: url(".././images/footer/footer-icon.png");
  width: 100%;
  max-width: rem(6);
  height: rem(12);
  aspect-ratio: 6 / 12;
  left: rem(0);
}

.footer__bottom{
  background-color: $main-color;
  padding: rem(18) 0 rem(73);
  @include mq("md") {
    padding: rem(16) 0 rem(78); 
  }
}

.footer__bottom small{
  display: block;
  color: $white;
  text-align: center;
  font-size: rem(14);
}